@{
	ViewBag.Title = "Test PAGE";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div id="page1">
	<h4>Edit element</h4>
	<fieldset>
		<label>Name</label>
		<input v-model="Agent.Name" />
		<label>Memo</label>
		<input v-model="Agent.Memo" />
	</fieldset>
	<hr />
	<pre v-text="$data"></pre>
</div>

@section scripts {

<!--{path}/{action}/{id}-->
<script src="/model/load/catalog/customer/edit/0"></script>

<script type="text/javascript">
	@Html.Raw(ViewBag.Script)
</script>
}
